<link rel="stylesheet" href="/css/styles.css" />
<div class="success">
  <h1>Success</h1>
  <p>
    <a class="success-a" href="/customers">Go back to Customers Page</a>
  </p>
  <p>
    <a class="success-a" href="/">Go back to Home Page</a>
  </p>
  <p>Made with ❤️ by Diksha Nigam</p>
</div>
