.container {
  margin: 1rem 1.7rem;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1.7rem;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.nav-link {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-brand,
a:hover,
li a.active {
  color: #1abc9c !important;
  border-bottom: 2px solid #1abc9c;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: sticky;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1abc9c;
}

.footer p {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: 16px;
  color: #fff;
}

#home-pg-img {
  width: 100%;
  height: 500px;
}

.row {
  text-align: center;
}

.customer-header-row,
.customer-row {
  padding: 1rem;
  background-color: #dff9fb;
  margin: 10px auto auto;
  width: 70%;
}

.customer-header-row,
.customer-row:hover {
  background-color: #1abc9c;
}

.first-cust {
  background-color: #dff9fb;
}

.btn {
  background-color: #4aeecd;
  box-shadow: 0 2px #666;
}

.btn:active,
.btn:focus,
.btn:focus:active {
  background-color: #1abc9c;
  box-shadow: 0 2px #666;
}
.btn:active {
  background-color: #1abc9c;
  transform: translateY(2px);
}

.btn:hover {
  background-color: #1abc9c;
}
